var new_comment =$("<%=escape_javascript(render(:partial => @comment))  %>".hide();
$('#comments)'.prepend(new_comment);
$('#comment_<%= @comment.id%>').fade.In('slow');
$('#new_comment')[0].reset();
